/** 
	Strathmore
	Version 1.1
**/
// styleguide:ignore:start
$debug-trace: false;
$name-mode: "SHORT"; // $name-mode: "SHORT","LONG","ALL"
$ms-base: 1rem; // needs to be in em's

// Select the Brand

$brand: "ACC" !default;
$framework: "ZURB" !default;

// Branding Color

// Setup Branding and Variables
@if ($brand == "ACC") {
} @else if($brand == "CVQUALITY") {
} @else {
}

// Setup Framework
@if ($brand == "ZURB") {
} @else if($brand == "BOOTSTRAP") {
} @else {
}

// Setup Functions, Mixins, and Variables
@import "vendor/foundation-sites/util/util";
@import "helpers/helpers";
@import "vendor/modular-scale";
@import "config/config";

// Foundation
@import "vendor/foundation-sites/foundation";
@include foundation-everything();
// styleguide:ignore:end
// ACC Design Alterations
@import "base/base";
@import "components/components";
@import "structures/structures";
// #override-container {
// 	@import "utility-css/utility-css";
// }

@import "utility-css/utility-css";
@import "reciepes/reciepes";
//StyleGuide
@import "styleguide/styleguide";
